{% block content %}
<br>
<br>
<br>
<div class="panel panel-default panel-info">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">PASSPORT API CLIENT TEST DEMO</h3>
	</div>
{% if contentFile is defined %}	
	{% embed contentFile %}
	{% endembed %}
{% endif %}
</div>
<br>
<br>
{% if form is defined %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endif %}
	
{% endblock %}