{% block sidebar %}
	<br>
	<br>
	<br>
			<ul class="nav nav-pills nav-stacked">
			    <li class="nav-header"><h3>Application Authentication APIs</h3>
			    	<ol class="breadcrumb">
					  <li><a href="#">/api</a></li>
					  <li><a href="#">v0</a></li>
					  <li><a href="#">auth</a></li>
					  <li class="active">login</li>
					</ol>
					<ol class="breadcrumb">
					  <li><a href="#">/api</a></li>
					  <li><a href="#">v0</a></li>
					  <li><a href="#">auth</a></li>
					  <li class="active">logout</li>
					</ol>
			    </li>
			    <li class="nav-header"><h3>User Authentication APIs</h3>
			    	<ol class="breadcrumb">
					  <li><a href="#">/api</a></li>
					  <li><a href="#">v0</a></li>
					  <li><a href="#">user</a></li>
					  <li class="active">login</li>
					</ol>
					<ol class="breadcrumb">
					  <li><a href="#">/api</a></li>
					  <li><a href="#">v0</a></li>
					  <li><a href="#">user</a></li>
					  <li class="active">logout</li>
					</ol>
			    </li>
			   </ul>    	
			
	   
{% endblock %}